:root {
    --primary-blue:#233975;
}
form{
    width: 400px;
}
form input[type="text"],
form input[type="email"],
form input[type="password"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}
label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.input-container.password{
    position: relative;
}
.input-container.password i{
    position: absolute;
    top: 42px;
    right: 16px;
}
.signup-btn{
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.signup-btn:hover{
    background: #2c4893;
    cursor: pointer;
}
